[include]
  path = ~/.config/delta/catppuccin.gitconfig
[core]
  pager = delta
  autocrlf = false
[interactive]
  diffFilter = delta --color-only
[delta]
  features = catppuccin-mocha
  line-numbers = true
  navigate = true
  side-by-side = true
[merge]
  conflictStyle = zdiff3
[user]
  name = Edison Chong
  email = kurai.no.yozora@gmail.com
[credential "https://github.com"]
  helper = 
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !gh auth git-credential
